
<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Student Login Page </title>  

</head>    
<!-- <body>    
     
   
    <form>  
        <table height ='350px' width='350px'>
        <tr>
            <td>
        <div class="container">
             <h2> LOGIN </h2>  
            <br>
            <br>
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>
            <br>
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>  
            <button type="submit">Login</button>  
             <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>   
             <h3> Not a Student ?  <a href="#">Register</a> </h3>  
        </div> 
        </td>
        </tr>
    </table> 
    </form>     
</body>     
</html>   -->
<app-user-dashboard></app-user-dashboard>
<form class="form-horizontal" #userLogin = "ngForm" (ngSubmit) = "onClickLogin(userLogin.value)">
    <fieldset>
      <div id="legend" class="control-group">
        <legend class="">Login</legend>
      </div>
      <div class="control-group">
        <!-- Username -->
        <label class="control-label"  for="username">Username</label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="name@email.com" class="input-xlarge" ngModel>
        </div>
      </div>
   
      <div class="control-group">
        <!-- E-mail -->
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" id="password" required="true" name="password"  class="input-xlarge" ngModel>
        </div>
      </div>
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success">Login</button>
          <p> Not a Student ?  <a >Register</a> </p>  
        </div>
      </div>
    </fieldset>
  </form>s