<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Register</title>
    <style>
        table {
  border-spacing: 30px;
}
        h1,h2,h3 {text-align: center;}
        .center {
            margin: auto;
            width: 30%;
            height : 40%;
            border: 1px solid rgb(1, 19, 1);
            padding: 10px;
}
    </style>
</head>
<body>
    <ul>
        <li><button> Register The Courses</button> </li>
        <li><button> Add Courses</button></li> 
        <li><button> View Available Courses</button></li>
        <li><button> Edit Courses</button></li>
        <li><button> View Courses</button></li>
        <li><button> Grade Card</button></li>
        <li><button> Payment</button></li>
        </ul>
</body>
</html>