<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Register</title>
    <style>
        table {
  border-spacing: 30px;
}
        h1,h2,h3 {text-align: center;}
        .center {
            margin: auto;
            width: 30%;
            height : 40%;
            border: 1px solid rgb(1, 19, 1);
            padding: 10px;
}
    </style>
</head>
<body>
    <h1>Course Registration System</h1>
    <h2>Student Register</h2>
    <form class="center"> 
        <table>
            
            
                <h3>Registration Form</h3>
            <tr>    
                <td> <label>Name</label></td>
             
                <td><input type="text"></td>
            </tr>
            <tr>    
                <td> <label>Email</label></td>
             
                <td><input type="text"></td>
            </tr>
            <tr>    
                <td> <label>Password</label></td>
             
                <td><input type="text"></td>
            </tr>
            <tr>    
                <td> <label>Department</label></td>
             
                <td><input type="text"></td>
            </tr>
            <tr>    
                <td> <label>Gender:</label></td>
            <td>
                <select name="gender" id="gender">
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                    <option value="OTHERS">Others</option>
                  </select>
                  </td>
            </tr>
            <tr>    
                <td> <label>Address</label></td>
             
                <td><input type="text"></td>
            </tr>
            <tr><td></td><td>
                <input type="submit" value="Register">
            </td></tr>
        </table>
      <br>
        
    </form>
</body>
</html>